<nav class="navbar navbar-default col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-12">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myDefaultNavbar1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/">MrRGnome</a>
      </div>
      <div class="collapse navbar-collapse" id="myDefaultNavbar1">
        <ul class="nav navbar-nav">
          <li><a href="http://bitcoindiscord.com" title="discord">Bitcoin Discord</a></li>
          <li><a href="../articles.html" title="articles">Articles</a></li>
          <li><a href="https://www.youtube.com/@BitcoinDiscord" title="youtube">Youtube</a></li>
          <li><a href="../bitcoin.html" title="bitcoin info">Bitcoin Info</a></li>
          <li><a href="../lightning.html" title="lightning info">Lightning Info</a></li>
          <li><a href="https://endthefud.org/altcoins" title="shitcoins">Shitcoin Info</a></li>
          <li><a href="http://bitcoindiscord.com" title="contact">Contact Me on Discord</a></li>
          <li><input class="toggle-input" type="checkbox" aria-label="toggle dark mode" id="permanent"><label for="permanent"></label></li>
        </ul>
      </div>
    </div>
    <!-- /.container-fluid -->
</nav>